[Main]

# Start mandatory settings
######
#
# Listen Address
#
######
# Port to listen on
Listen = tcp://:9999
# Host address -
# 	used for downloading, so set to something accessible that you'll want users to hit
Host = 127.0.0.1:9999

######
#
# Admin user
#
######
AdminUser = admin
AdminPass = admin

# End mandatory settings


######
#
# SSL
#
######
# Cert - Path to ssl certificate
# Default:
;       Cert =
# Key - path to ssl key
# Default:
;       Key =
# Scheme -
#   One of http or https
# Default:
;       Scheme = http

# Should the contents be public?  Boolean
# Default:
;     Public = true

######
#
# Local Database Configuration
#
######
# MetaDB:
# 	path to database file to use.
# Default:
;		 MetaDB = lfs.db

######
#
# Content Store Configuration
# Where to store the content on disk. Not used when AWS storage is enabled
#
######
# Default:
;		 ContentPath = lfs-content


######
#
# Cassandra Configuration
# Distributed storage for large numbers of objects
# Optional - for storing meta content in Cassandra
#
######
[Cassandra]
# Enabled - Should we use Cassandra? (Boolean)
# Default:
;		Enabled = false

# Hosts:
#   Comma separated list of host:port, host:port
#  Default:
;       Hosts = "
# for a local setup, use:
;       Hosts = localhost:9042
# Optional - used to select cassandra keyspace,
# 	the GO_ENV will always be appended, so dont add it here
#   example: if your Keyspace is lfs_server_go, and your GO_ENV=development
# 		the Keyspace will be stored as lfs_server_go_development
# Default:
;				KeySpace = to lfs_server_go
#	Username =
#	Password =


######
#
# LDAP Configuration
# Optional - for using LDAP instead of a local username/password scheme
#
######
[Ldap]
# Enabled - Should we use LDAP (Boolean)
# Default:
;		Enabled = false
# Server URL to use
# Default:
;       Server = ldap://localhost:1389
# Base - Search Base of your LDAP config, like dc=example,dc=com
# Default:
;		Base = "dc=testers,c=test,o=company"
# Class to use, does not (yet) support filters, just a string
# Default:
;		UserObjectClass = "person"
# The Cn to use when matching a "User ID"
# Default:
;		UserCn = "uid"
# The DN to use when binding
# Default:
;		BindDN = ""
# The Password of the DN to use when binding
# Default:
;		BindPass = ""

######
#
# AWS Configuration
# This is optional
# It will also work with S3 Compatible interfaces when you specify the EndpointUrl
#
######

[Aws]
# Enabled - Should we be using Aws, Boolean
# Default:
;     Enabled = false
# The Access Key ID to use when authenticating to S3
# Default:
;		AwsAccessKeyId = ""

# The Access Key Secret to use when authenticating to S3
# Default:
;		AwsSecretAccessKey = ""

# Regions are where S3 will store your data
# for region info, see http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region
# Default:
;		Region = us-east-1

# Bucket is the container where your objects will be stored
# This should be a pre-existing bucket, but we'll try to create it.
# Default:
;		BucketName = lfs-server-go-objects

# Acl options:
#		bucket-owner-full-control
#		bucket-owner-read
#		authenticated-read
#		public-read-write
#		public-read
#		private
# Default:
;		BucketAcl = private
# Default:
;		EndpointUrl = https://s3-us-west-1.amazonaws.com

